<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="channel">
  <select id="getChannel" resultType="channelVo">
  select * from channel where beuid = #{beuid}
  </select>
  <update id="updateChannel">
  update channel set ch_img = #{ch_img}, ch_name = #{ch_name} where beuid = #{beuid}
  </update>
</mapper>
