<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ranking">
	
	<select id="getselct" resultType="rankVo">
		select * from (select rownum r, c.ch_name, c.ch_img, p.hits, p.likes, c.beuid from channel c, product p 
                            where p.beuid = c.beuid order by p.hits+p.likes desc) where r between 1 and 10

	</select>
	
	<!-- <select id="listRanking" resultType="rankVo">
		select c.ch_img from channel c, product p
        	where c.beuid = p.beuid	
	</select> --> 

</mapper>